<div class="gantt-container">
  <div class="resources-section">
    <table class="resources">
      <tr>
        <th>Resources</th>
      </tr>
      <tr *ngFor="let resource of resources">
        <td>{{ resource.name}}</td>
      </tr>
    </table>
  </div>
  <div class="planing-section">
    <table class="planing">
      <tr>
        <th *ngFor="let date of dates">{{ date }}</th>
      </tr>
      <tr *ngFor="let resource of resources">
        <td *ngFor="let date of dates" [ngClass]="{'task-cell': isTaskScheduled(resource, date)}">
          <app-task-bar *ngIf="isTaskScheduled(resource, date)" [start]="getStartDate(resource, date)" [end]="getEndDate(resource, date)" [from]="resource.from" [to]="resource.to"></app-task-bar>
        </td>
      </tr>
    </table>
  </div>
</div>
